/* footer.css */

/* Base styles for the container */
.flex-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    background-color: #1a202c;
    color: #fff;
    gap: 20px;
    padding: 28px;
    width: 100%;
  }
  
  /* Styles for the first flex-wrap container */
  .first-flex-wrap {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  
  /* Styles for the AdventureAwaits.com section */
  .brand-section h1 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .brand-section p {
    font-size: 14px;
    color: #8b8e95;
  }
  
  /* Styles for the social media icons */
  .social-icons {
    display: flex;
    gap: 3px;
  }
  
  /* Styles for the social media icon container */
  .social-icon-container {
    cursor: pointer;
  }
  
  /* Styles for the second flex-wrap container */
  .second-flex-wrap {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  
  /* Styles for each column in the second flex-wrap container */
  .column {
    flex: 1;
  }
  
  /* Styles for the section headers in each column */
  .column h3 {
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 20px;
  }
  
  /* Styles for the unordered lists in each column */
  .column ul {
    list-style: none;
    line-height: 1.5;
    margin-left: 0;
  }
  
  /* Styles for the list items in each column */
  .column li {
    color: #8b8e95;
  }
  