*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  text-align: center;
}

.home-main {
  background-image: url("https://tinyurl.com/22xh5jm9");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.home-title,
.home-text {
  color: white;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-title {
  font-size: 3rem;
  font-weight: 800;
}

.home-text {
  font-size: 1.3rem;
  top: 58%; 
}

.home-content {
  margin-top: 25px;
  margin-bottom: 50px;
}