/* Navbar.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color-scheme: black;
  scroll-behavior: smooth;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.links {
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

.nav-items {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 3rem;
  
  background-color: #333;
  color: #fff;
  z-index: 1000;
}

.geocoder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.geoapify-autocomplete-input {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 3px 5px;
  border-radius: 8px;
  box-shadow: black 1.3px 3px 2px;
}

.geoapify-autocomplete-item {
  display: flex;
  gap: 10px;
  margin: 4px;
  margin-bottom: 7px;
  margin-top: 4px;
  padding: 2px;
  cursor: pointer;
}

.geoapify-autocomplete-item:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.geoapify-close-button {
  padding: 2px;
  margin-top: -29px;
  margin-left: 250px;
  border-radius: 4px;
  cursor: pointer;
}

.geoapify-close-button:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.links {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  margin-right: 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.links:hover {
  background-color: grey;
  color: white;
  border-radius: 4px;
}
button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  margin-left: 4px;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: grey;
  color: #fff;
}

.menu-icon {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-items {
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: white;
    align-items: stretch;
    opacity: 0;
    margin: 0;
    height: auto;
    padding: 80px 0 30px 0;
    text-align: center;
    transition: all 0.3 ease-in-out;
    border-radius: 13px;
  }

  .menu-icon {
    display: block;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: all 0.3 ease-in-out;
  }

  .links {
    width: 100%;
    margin: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem 0;
  }

  .links:hover {
    background-color: #01959a;
    color: white;
    transition: none;
  }

  button {
    border-radius: 4px;
    width: 60%;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 2px;
    background-color: #01959a;
    color: white;
    margin: auto;
    margin-top: 10px;
  }

  .nav-logo {
    font-size: 1.5rem;
  }
}

.image-size {
  height: 200px;
  width: 70%;
}